@import "tailwindcss";
/* File: src/app/globals.css */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 245, 255;
  --background-end-rgb: 245, 240, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.style1{
  font-family: 'Atkinson Hyperlegible';

}